<form>
  <h3>Performance & Alignment-related Parameters</h3>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Concurrent threads</label>
    <div fxFlex="60">
      
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Limit fitness</label>
    <div fxFlex="60">

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Limit search space</label>
    <div fxFlex="60">

    </div>
  </div>
  
  <mat-form-field fxLayout="row">
    <mat-label>Unassigned variable mode</mat-label>
    <mat-select >
      <mat-option *ngFor="let val of milp" [value]="val.value">{{val.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxLayout="row">
    <mat-label>MILP Solver</mat-label>
    <mat-select >
      <mat-option value="NULL">LpSolve (Bundled)</mat-option>
      <mat-option value="DEFAULT">Gurobi</mat-option>
      <mat-option value="FREE">FREE</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox 
  labelPosition="before"
  (change)="OnChange($event)"
  [(checked)]="checked">
    Advanced options
  </mat-checkbox>

  <button type="button" (click)="isChecked()">Try</button>

  <div *ngIf="checked">
    <p>prova</p>
  </div>


</form>
