<form>
  <h3>Performance & Alignment-related Parameters</h3>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Concurrent threads</label>
    <div fxFlex="60">
      
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Limit fitness</label>
    <div fxFlex="60">

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Limit search space</label>
    <div fxFlex="60">

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>Unassigned variable mode</label>
    <div fxFlex="60">

    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label>MILP Solver</label>
    <div fxFlex="60">

    </div>
  </div>
</form>
