<form [formGroup]="formGroup">
  <h3>Performance & Alignment-related Parameters</h3>
  <div fxLayoutAlign="end center">
  <mat-checkbox 
    fxLayout="row"
    style="border: 1px solid #ccc;padding: 0 3px; border-radius:3px;"
    labelPosition="before"
    formControlName="checked">
      <i>Advanced options</i>e
  </mat-checkbox>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="25">Concurrent threads </label>
    <mat-icon 
      matTooltip="How many current threads to use (a lower value use less memory)."
      matTooltipPosition="right"
      matTooltipClass="custom-tooltip">
      info
    </mat-icon>
    <div fxFlex="70" fxLayoutAlign="center center">
      <mat-slider
        class="slider"
        [max]="threads.max"
        [min]="threads.min"
        [step]="threads.step"
        [value]="formGroup.controls['threads'].value"
        thumbLabel=true
        tickInterval=1
        formControlName="threads">
      </mat-slider>
      <mat-form-field fxFlex="25" class="slider-input">
        <input 
          type="number" 
          [max]="threads.max" 
          matInput 
          formControlName="threads"
          [value]="formGroup.controls['threads'].value"
        />
      </mat-form-field>
    </div>
  </div>
  
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="25">Limit fitness</label>
    <mat-icon 
      matTooltip="Stops the computation, if fitness for trace would drop below given value."
      matTooltipPosition="right"
      mat-list-icon>
      info
    </mat-icon>
    <div fxFlex="70" fxLayoutAlign="center center">
      <mat-slider
        class="slider"
        [max]="fitness.max"
        [min]="fitness.min"
        [step]="fitness.step"
        [value]="formGroup.controls['fitness'].value"
        thumbLabel=true
        tickInterval=1
        formControlName="fitness">
      </mat-slider>
      <mat-form-field fxFlex="25" class="slider-input">
        <input 
          type="number" 
          [max]="fitness.max" 
          matInput 
          formControlName="fitness"
          [value]="formGroup.controls['fitness'].value"
        />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <label fxFlex="25">Limit search space</label>
    <mat-icon 
      matTooltip="Stops the computation, if the given number of states has been queued."
      matTooltipPosition="right"
      mat-list-icon>
      info
    </mat-icon>
    <div fxFlex="70" fxLayoutAlign="center center">
      <mat-slider
        class="slider"
        [max]="search_space.max"
        [min]="search_space.min"
        [step]="search_space.step"
        [value]="formGroup.controls['search_space'].value"
        thumbLabel=true
        tickInterval=1
        formControlName="search_space">
      </mat-slider>
      <mat-form-field fxFlex="25" class="slider-input">
        <input 
          type="number" 
          [max]="search_space.max" 
          matInput 
          formControlName="search_space"
          [value]="formGroup.controls['search_space'].value"
        />
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxLayout="row">
      <mat-label>Unassigned variable mode</mat-label>
      <mat-select formControlName="unassigned">
        <mat-option *ngFor="let val of unassigned" [value]="val.value">{{val.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon 
      class="selectIcon"
      matTooltip="Determines how unassigned variables are handled."
      matTooltipPosition="right"
      mat-list-icon>
      info
    </mat-icon>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field fxLayout="row">
      <mat-label>MILP Solver</mat-label>
      <mat-select formControlName="milp">
        <mat-option *ngFor="let val of milp" [value]="val.value">{{val.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon 
      class="selectIcon"
      matTooltip="Solver to be used for MILP problems. Gurobi is faster!"
      matTooltipPosition="right"
      mat-list-icon>
      info
    </mat-icon>
  </div>

  <div *ngIf="formGroup.controls['checked'].value">
    <h5>Expert confgiguration options</h5>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxLayout="row">
        <mat-label>Search Algorithm</mat-label>
        <mat-select formControlName="algorithm">
          <mat-option *ngFor="let val of algorithms" [value]="val.value">{{val.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon 
        class="selectIcon"
        matTooltip="Algorithm that is used to find an (optimal) alignment. A* graph is fastest."
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        fxLayout="row"
        fxLayoutAlign="start center"
        labelPosition="after"
        formControlName="balanced">
          Compute balanced alignment
      </mat-checkbox>
      <mat-icon 
        class="selectIcon"
        matTooltip="Use a balanced alignment. (Disable to use staged approach of BPM 2013 paper)"
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        fxLayout="row"
        labelPosition="after"
        formControlName="keep_control">
          Keep Control Flow Search
      </mat-checkbox>
      <mat-icon 
        class="selectIcon"
        matTooltip="Retain the search space between traces to speed up the computation. (Disable to use less memory)"
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        fxLayout="row"
        labelPosition="after"
        formControlName="keep_data">
          Keep Data Flow Search
      </mat-checkbox>
      <mat-icon 
        matTooltip="Retain the search space between traces to speed up the computation. (Disable to use less memory)"
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        fxLayout="row"
        labelPosition="after"
        formControlName="cache">
          Use cache
      </mat-checkbox>
      <mat-icon 
        class="selectIcon"
        matTooltip="Remember the solution to MILP problems and re-uses those solutions if possible. (Disable to use less memory)"
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-checkbox 
        fxLayout="row"
        labelPosition="after"
        formControlName="optimization">
          Use optimization
      </mat-checkbox>
      <mat-icon 
        class="selectIcon"
        matTooltip="Activates optimizations that avoid solving a ILP problem. (Disable to be slower)"
        matTooltipPosition="right"
        mat-list-icon>
          info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxLayout="row">
        <mat-label>Re-ordering of moves</mat-label>
        <mat-select formControlName="moves_ordering">
          <mat-option *ngFor="let val of moves" [value]="val.value">{{val.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon 
        class="selectIcon"
        matTooltip="Whether to search all re-orderings (NONE) or just a single special ordering between log-moves and model-moves."
        matTooltipPosition="right"
        mat-list-icon>
        info
      </mat-icon>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field fxLayout="row">
        <mat-label>Queueing Strategy</mat-label>
        <mat-select formControlName="queueing">
          <mat-option *ngFor="let val of queueing" [value]="val.value">{{val.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-icon 
        class="selectIcon"
        matTooltip="Strategy to break ties in the A* search. Random can be useful to get multiple solutions with equal cost."
        matTooltipPosition="right"
        mat-list-icon>
        info
      </mat-icon>
    </div>
  </div>
  <div fxLayoutAlign="end center">
    <button routerLink="/mapping" color="primary" mat-raised-button type="button" (click)="postResult()">Submit</button>
  </div>
</form>
