<div style="height: 100%;" fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>GROUPED ALIGNMENTS VARIANTS</h3>
    <div fxLayout="row">
      <mat-label class="sort-label">Sort by:</mat-label>
      <mat-select id="alignmentsOrdering" [(ngModel)]="ordering" (selectionChange)="order()">
          <mat-option *ngFor="let obj of orderingValues" [value]="obj.value">
            {{obj.label}}
          </mat-option>
      </mat-select>
    </div>
  </div>
  
  <div fxFlex fxLayout="row">
    <div class="main" fxLayout="column" fxFlex="75">
      <div class="navigation">
        <button type="button" (click)="page(1)">View 1</button>
        <button type="button" (click)="page(2)">View 2</button>
      </div>
      <div *ngIf="view === 1">
        <mat-card>
          <mat-card-header>View 1</mat-card-header>
          <mat-card-content>
            <div class="statisticsTable">
              <ag-grid-angular
              *ngIf="alignments.length > 0"
              domLayout='autoHeight'
              class="ag-theme-balham"
              [rowData]="statistics"
              [columnDefs]="columnDefs"
              (firstDataRendered)="onFirstDataRendered($event)">>
            </ag-grid-angular>
            </div>
            <mat-list>
              <mat-list-item *ngFor="let alignment of alignments" class="alignment-view-item">
                <mat-icon matListIcon [ngClass]="getIconColor(alignment.fitness)">{{getIcon(alignment.fitness)}}</mat-icon>
                <h2 matLine>Fitness: {{alignment.fitness}}</h2>
                <p matLine class="secondary-line">Cases: {{alignment.size}}</p>
                <p matLine class="secondary-line">Length: {{alignment.averageLength}}</p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="view === 2">
        <p>View 2</p>
        <app-alignment-view *ngFor="let alignment of alignments" [data]="alignment" [hideInvisible]="hideInvisible" [colorActivities] = "colorActivities" [highlight] = "highlight"></app-alignment-view>
      </div>
    </div>
    <div class="side" fxLayout="column" fxFlex="25">
      <app-alignment-legend ></app-alignment-legend>
      <app-alignment-statistics [statistics] = "statistics"> </app-alignment-statistics>
    </div>
  </div>
  <footer fxLayout="row">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div class="search">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search"
        matTooltip="Supports a simple query language for filtering alignments by names of events and traces or by their fitness value (e.g., fitness>0.5).Use '~' as 1st character to use a regular expressions, use '%' as 1st character to use a 'contains' query. "
        >
        <mat-checkbox 
          labelPosition="after"
          [(ngModel)]="approximateMatches">
            Sub-string Matches
        </mat-checkbox>
      </div>
      <div class="checkboxes" >
        <mat-checkbox 
          labelPosition="before"
          [(ngModel)]="colorActivities">
            Color Code Activities
        </mat-checkbox>
        <mat-checkbox 
          labelPosition="before"
          [(ngModel)]="hideInvisible">
            Hide/Show Invisible Activities
        </mat-checkbox>
        <mat-checkbox 
          labelPosition="before"
          [(ngModel)]="highlight">
            Highlight Deviations
        </mat-checkbox>
      </div>
      
    </mat-toolbar>
  </footer>
</div>
