#btmFooter {
  align-self: flex-end;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer, .mat-toolbar {
  font-size: 12px;
}

mat-checkbox {
  padding: 0 3px;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
  padding: 5px 8px;
  border: 0;
  border-bottom: 1px solid gray;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}

.search {
  width: 25%;
}

.search input{
  width: 100%;
}

.search mat-checkbox{
  padding-left: 10px;
}

#alignmentsOrdering {
  width: 150px;
}

.sort-label {
  padding-right: 7px;
}

.icon-sort-ascend {
  transform: rotateX(180deg);
}

.secondary-line {
  color: gray;
}

.alignment-view-item {
  border-bottom: 1px solid lgray;
  padding: 20px;
}

.mat-list-base .mat-list-item .mat-list-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.statisticsTable {
  max-width: 500px;
  margin: 30px !important;
}

.main {
  margin-bottom: 70px;
}

.good {
  color: green;
}

.not-good {
  color: yellowgreen;
}

.bad {
  color: yellow;
}

.very-bad {
  color: orangered;
}

.worst {
  color: darkred;
}