<div style="height: 100%;" fxLayout="column" fxFlexFill>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h3>GROUPED ALIGNMENTS VARIANTS</h3>
    <mat-label>Sort by:</mat-label>
    <mat-select id="alignmentsOrdering" [(value)]="ordering">
        <mat-option *ngFor="let obj of orderingValues"   [value]="obj.value">{{obj.label}}</mat-option>
      </mat-select>
  </div>
  
  <div fxFlex fxLayout="row">
    <div class="main" fxLayout="column" fxFlex="75">
      <app-alignment-view></app-alignment-view>
    </div>
    <div class="side" fxLayout="column" fxFlex="25">
      <app-alignment-legend></app-alignment-legend>
      <app-alignment-statistics [statistics] = "statistics"></app-alignment-statistics>
    </div>
  </div>
  <footer fxLayout="row">
    <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
      <div class="search">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country"
        matTooltip="Supports a simple query language for filtering alignments by names of events and traces or by their fitness value (e.g., fitness>0.5).Use '~' as 1st character to use a regular expressions, use '%' as 1st character to use a 'contains' query. "
        >
        <mat-checkbox 
          labelPosition="after"
          [checked]="approximateMatches">
            Sub-string Matches
        </mat-checkbox>
      </div>
      <div class="checkboxes" >
        <mat-checkbox 
          labelPosition="before"
          [checked]="colorActivities">
            Color Code Activities
        </mat-checkbox>
        <mat-checkbox 
          labelPosition="before"
          [checked]="hideShow">
            Hide/Show Invisible Activities
        </mat-checkbox>
        <mat-checkbox 
          labelPosition="before"
          [checked]="highlight">
            Highlight Deviations
        </mat-checkbox>
      </div>
      
    </mat-toolbar>
  </footer>
</div>
