.slider {
  width: 70%;
}

.selectIcon {
  padding: 0 5px;
}

.mat-tooltip.tooltip {
  background-color: darkblue;
  font-size: 12px;
}

.custom-tooltip {
  font-size: 10px !important;
}

.slider-input {
  padding-left: 10px;
}

.expert {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 0 10px;
  margin: 10px 0;
}