<h4>Configure Variable Bounds</h4>
<ag-grid-angular
  style="width: 100%;"
  domLayout='autoHeight'
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [frameworkComponents]="frameworkComponents"
  (firstDataRendered)="onFirstDataRendered($event)"
  [isRowSelectable]="isRowSelectable">
</ag-grid-angular>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <button 
    (click)="back()" 
    mat-stroked-button 
    color="primary" >
      Back
  </button>
  <button 
    (click)="submit()" 
    mat-stroked-button 
    color="primary" >
      Next
  </button>
</div>