<button (click)="addModel({})">Add Model</button>
<button (click)="addCustomElements({})">Add Custom Elements</button>
<button (click)="addLogl({})">Add Log</button>

<div fxLayout="row" fxLayoutAlign="start">
  <p>Model</p>
  <button (click)="addModel({})">Add Model</button>
  <p>File...</p>
</div>

<div fxLayout="row" fxLayoutAlign="space-between">
  <p>Custom elements</p>
  <button (click)="addModel({})">Add Model</button>
  <p>File...</p>
</div>

<div fxLayout="row" fxLayoutAlign="space-between">
  <p>Model</p>
  <button (click)="addModel({})">Add Model</button>
  <p>File...</p>
</div>