<h4>Cost of Deviations in Data Perspective</h4>
<p>Earlier entries have precedence over later entries</p>
<ag-grid-angular
  style="width: 100%;"
  domLayout='autoHeight'
  class="ag-theme-balham"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  rowSelection="single"
  [frameworkComponents]="frameworkComponents"
  [rowDragManaged]="true"
  (firstDataRendered)="onFirstDataRendered($event)"
  [isRowSelectable]="isRowSelectable">
</ag-grid-angular>
<div style="padding: 15px; padding-bottom: 30px;" fxLayoutAlign="center center">
  <button mat-stroked-button type="button" (click)="insertRow()">Insert new row</button>
  <button mat-stroked-button type="button" (click)="deleteRow()">Delete row</button>
  <button mat-stroked-button type="button" (click)="saveTable()" >Save table</button>
  <button mat-stroked-button type="button" (click)="getTable()" >Load table</button>
</div>
<input type="file" #tableInput value="upload" (change)="uploadTable()"/>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <button 
    (click)="location.back()" 
    mat-stroked-button 
    color="primary" >
      Back
  </button>
  <button 
    (click)="submit()" 
    mat-stroked-button 
    color="primary" >
      Next
  </button>
</div>
