<form [formGroup]="formGroup">
  <mat-list class="list">
    <h3 mat-header>Variables mapping</h3>
    <mat-list-item *ngFor="let t of list" class="line">
      <p mat-line >{{t}}</p>
      <mat-select [formControlName]="t" [class.warn]="attention[t]">
        <mat-option *ngFor="let val of internalSet" [value]="val.value">{{val.viewValue}}</mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
  <div fxLayout="row" fxLayoutAlign="end center">
    <button 
      (click)="postMapping()" 
      mat-stroked-button 
      color="primary" >
        Next
    </button>
  </div>
  
</form>