.card {
  background: lightgrey;
}
.color_1 { color: rgb(0, 210, 0);}
.color_2 { color: rgb(224, 176, 255); }
.color_3 { color: gray; }
.color_4 { color: yellow; }
.color_5 { color: white; }

.icon {padding-right: 8px;}