<form [formGroup]="formGroup">
  <mat-list >
    <h3 mat-header>Map Transitions to Event Classes</h3>
    <p>First, select an appropriate classifier. Unmapped transitions will be mapped to a dummy event class. Approximate matches are highlighted and need to be reviewed for correctness.</p>
    <mat-list-item>
      <p fxFlex="50" mat-line>Choose classifier</p>
      <mat-select formControlName="classifier" (ngModelChange)="updateIndex()">
        <mat-option *ngFor="let val of classifiers" [value]="val.value">{{val.label}}</mat-option>
      </mat-select>
    </mat-list-item>
    <mat-list-item>
      <mat-checkbox 
        (change)="updateIndex()"
        labelPosition="after"
        formControlName="approximated">
        Use approximated matching
      </mat-checkbox>
    </mat-list-item>

    <mat-divider></mat-divider>

    <div fxLayoutAlign="center center" *ngIf="loading" class="spinner">
      <mat-spinner ></mat-spinner>
    </div>
    
    <mat-list-item *ngFor="let t of transitions">
      <p mat-line>{{t.label}}</p>
      <mat-select [formControlName]="t.value">
        <mat-option *ngFor="let val of list" [value]="val.value">{{val.label}}</mat-option>
      </mat-select>
    </mat-list-item>
  </mat-list>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button 
      (click)="location.back()" 
      mat-stroked-button 
      color="primary" >
        Back
    </button>
    <button 
      (click)="postMapping()" 
      mat-stroked-button 
      color="primary" >
        Next
    </button>
  </div>
  
</form>